/* HEADER */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 10px;
}

.header-logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
    justify-content: space-between;
}

.nav-title {
    color: mediumaquamarine;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 45px;
}

.header-item {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 10px;
    /* display: inline-block; */
}


/* MAIN CONTENT */


/* FIRST COLUMN */

.main-container {
    display: flex;
    justify-content: space-between;
}

.column-large {
    /* border: 5px solid black; */
    width: 630px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.lead-story {
    margin: 15px;
}

.lead-story-image {
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: flex-start;
    background-image: url("file:///Users/alexmilbert/Documents/personal/DameofDevelopers/Coding%20McCollum/codecademy/MyTimes/resources/images/champagne-img-story-main.png");
    z-index: 0;
}

.lead-story-title {
    font-family: Georgia;
    color: white;
    font-weight: bold;
    font-size: 40px;
    z-index: 1;
}

.lead-story {
    /* border: 2px solid black; */
}

.secondary-article {
    /* border: 2px solid black; */
    margin: 15px;
}

.sub-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sub-content-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column-large-content-image {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.content-image-earth {
    display: flex;
    height: 300px;
    width: 300px;
    background-image: url("file:///Users/alexmilbert/Documents/personal/DameofDevelopers/Coding%20McCollum/codecademy/MyTimes/resources/images/girl-img-story-2.png");
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.content-image-camera {
    display: flex;
    height: 300px;
    width: 300px;
    background-image: url("file:///Users/alexmilbert/Documents/personal/DameofDevelopers/Coding%20McCollum/codecademy/MyTimes/resources/images/camera-img-story-3.png");
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.column-medium {
    /* border: 5px solid black; */
    width: 300px;
    display: flex;
    flex-direction: column;
}

.content-image-cat {
    display: flex;
    height: 300px;
    background-image: url("file:///Users/alexmilbert/Documents/personal/DameofDevelopers/Coding%20McCollum/codecademy/MyTimes/resources/images/cat-img-story-1.png");
    flex-direction: column;
}

.content-title {
    font-family: Georgia;
    color: white;
    font-weight: bold;
    font-size: 30px;
    z-index: 1;
}

.column-small {
    /* border: 5px solid black; */
    width: 240px;
    display: flex;
    flex-direction: column;
}

.content-image-cookie {
    display: flex;
    height: 230px;
    background-image: url("file:///Users/alexmilbert/Documents/personal/DameofDevelopers/Coding%20McCollum/codecademy/MyTimes/resources/images/cookie-img-news-bite.png")
}