/* HEADER */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 10px;
}

.header-logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
    justify-content: space-between;
}

.nav-title {
    color: mediumaquamarine;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 45px;
}

.header-item {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 10px;
    /* display: inline-block; */
}


/* MAIN CONTENT */

.main-container {
    display: flex;
}

.content-large {
    border: 5px solid black;
    width: 630px;
}

.content-medium {
    border: 5px solid black;
    width: 300px;
}

.content-small {
    border: 5px solid black;
    width: 240px;
}